<div class="card h-100" id="postId-{{id}}">
    <img src="{{picture.image_url}}" class="card-img-top" alt={{img_url}} />
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{format_paragraph description}}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item position-relative">

            <span>
                <img
                    src="icons/chat-bubble-icon.png"
                    alt="chat-icon"
                    id="chat-bubble"
                />
                {{comments.length}}
            </span>
            <span>
                <img
                    src="/icons/thumb-up-icon.png"
                    alt="thumbs-up-icon"
                    id="thumbs-up"
                />
                {{vote_count}}
            </span>
        </li>
    </ul>
</div>
