<div class="container">
            <section class="post-hero row">
                <div class="col-md-6">
                    <img src="{{post.picture.image_url}}" alt="" />
                </div>
                <div class="col-md-6 row justify-content-conter align-items-center">
                    <h1 class="col-10 post-title text-center">"{{post.title}}"</h1>
                </div>
            </section>
            <section class="row mt-3">
                <div class="upvote-container col-4 row align-items-center">
                    <div class="thumb-icon col-2">
                        <img
                            src="/icons/thumbs-up-normal.png"
                            alt="thumbs-up-icon"
                            id="thumbs-up-post"
                        />
                    </div>
                    <div class="vote-count-container col-2">
                        <h2>{{post.vote_count}}</h2>
                    </div>
                </div>
                <div class="col-8 row align-items-center">
                    {{#each post.tags as |tag|}} 
                    <h3 class="col-3 ">{{tag.tag_title}}</h3> 
                    {{/each}}
                </div>
            </section>

            <section class="row mt-3">
                <div class="col-12">{{post.description}}</div>
            </section>
            <section class="mb-3">
                {{#if loggedIn}}
                <textarea class="form-control" name="comment" id="" rows="3"></textarea>
                <button class="btn btn-primary mt-3" id="addComment">Add comment</button>
                {{/if}}
            </section>
            <section class="comment-container">
                {{> comments post.comments}}
            </section>
        </div>

{{#if loggedIn}}
<script src="/javascript/add-comment.js"></script>
<script src="/javascript/vote.js"></script>
{{/if}}
